{:paths   ["src"]
 :deps    {org.clojure/clojure         {:mvn/version "1.12.0"}
           org.clojure/tools.namespace {:mvn/version "1.5.0"}
           rewrite-clj/rewrite-clj     {:mvn/version "1.1.49"}
           healthsamurai/matcho        {:mvn/version "0.3.10"}}
 :aliases {:test  {:extra-paths ["test"]
                   :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                   :main-opts   ["--report" "stderr"
                                 "-m" "cognitect.test-runner"]
                   :exec-fn     cognitect.test-runner.api/test}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.8"}
                          io.github.seancorfield/build-clj {:git/tag "v0.9.2", :git/sha "9c9f078"}}
                   :ns-default build}}}
