{:customREPLcommandSnippets
 [{:name "Run Rich Comment Tests in Current Namespace",
   :key "t",
   :snippet "(clojure.core/requiring-resolve 'com.mjdowney.rich-comment-tests/run-ns-tests!)
             (com.mjdowney.rich-comment-tests/run-ns-tests! *ns*)"}]}